/* リセットCSS */
body {
  font-size: 14px;
  color: #333;
  margin: 0 auto;
}
h1,h2,h3,h4,h5,h6,p {
  padding: 10px 0;
  margin: 0;
}

ul,li {
  padding: 0;
  margin: 0;
}



body{
  display: flex;
  flex-direction: column;
}
.header{
  height: 100px;
  background-color: rgb(207, 225, 239);
  text-align: center;
}
main{
  display: flex;
  min-height: 100vh;
  margin: 10px 0 10px 0;
  right: 0px;
}
.content-area{
  display: flex;
  flex-direction: column;
}
.content{
  background-color: rgb(181, 221, 231);
  text-align: center;
  margin: 0 10px 0 10px;
  border: solid;
}
.side-area{
  text-align: center;
  background-color: #888;
  color: #fff;
  min-width: 250px;
}
.footer{
  height: 70px;
  text-align: center;
  background-color: #eee;
}
.post-img{
  width: 80%;
  height: auto;
}
.content-show{
  text-align: center;
}
.post-info{
  text-align: center;
}
.sign-up{
  text-align: center;
}
.sign-in{
  text-align: center;
}
.actions{
  padding-top: 20px;
}
.search-input{
  width: 60%;
}
.post_search{
}